<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content flex-col lg:flex-row">
    <div class="justify-center">
      <h1 class="text-5xl font-bold">おじょうず👏</h1>
      <p class="py-6">おじょうずはお子さまのお絵描きと想い出を保存できるアプリです</p>
      <%= link_to new_user_path do %>
        <button class="btn btn-primary">早速登録する！</button>
      <% end %>
    </div>
  </div>
</div>
